*, *:after, *:before {
	box-sizing: border-box;
}
html {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}

body {
	background: #48115C;
	margin: 0;
	padding: 0;
}

.container {
	background: #fff;
	padding: 0 50px;
	width: 1100px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 17px;
	border-bottom: 7px solid;
	border-image: url(../img/header__bottom-bar.jpg) 7 round;
}

.header__logo {
	margin-top: 50px;
}
.header__form {
	margin-top: 106px;
}
.logo {}

.logo__title {
	font-size: 3.6rem;
	font-weight: 400;
	margin: 0;
}

.logo__title a {
	color: #000;
	text-decoration: none;
}

.logo__title a:hover {
	color: #48115C;
	text-decoration: underline;
}

.logo__subtitle {
	color: #4F4F4F;
	font-size: 1.8rem;
	margin: 0;
}

.form {}

.form__field {
	background: #FFFFFF;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: none;
	height: 27px;
	padding: 0 10px;
	font-size: 1.8rem;
}

::placeholder {
	color: rgba(72, 17, 92, 0.4);
}

p {
	font-size: 14px;
}

a {
	color: #48115C;
}

.form__field:focus::placeholder {
	color: transparent;
}

.button {
	border: none;
	font-size: 1.8rem;
	cursor: pointer;
	outline: none;
}

.button_more {
	color: #48115C;
	text-decoration: underline;
	font-size: 1.4rem;
	font-weight: bold;
	background-image: url(../img/button.png);
	background-position: bottom;
	height: 23px;
	position: relative;
	background-color: transparent;
	background-repeat: no-repeat;
	bottom: -9px;
	left: calc(50% - 177px / 2);
	width: 177px;
}

.button_search {
	width: 64px;
	height: 27px;
	background: #48115C;
	text-transform: lowercase;
	color: #fff;
	font-weight: 700;
}

.button_primary {
	color: #fff;
	background: #48115C;
}

.section {}

.section__posts {
	display: grid;
	grid-template-columns: 302px 302px 302px;
	grid-gap: 46px
}
.section_bg {
	background: url(../img/bg.jpg) center / cover;
	padding-bottom: 30px;
}

.section_shadow {
	padding-top: 24px;
	background: rgba(187, 107, 217, 0.1);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section_bordered {
	border-top: 3px solid;
	border-image: url(../img/header__bottom-bar.jpg) 3 round;
	padding: 10px 0;
}

.section__columns {
	display: flex;
	flex-wrap: wrap;
}

.section__columns-item {
	width: 50%;
	margin-bottom: 20px;
}

.section__columns-item a {
	color: #48115C;
}

.breadcrumbs {
	background: rgba(72, 17, 92, 0.8);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: inline-block;
	padding: 7px 10px;
	margin-top: 10px;
	font-size: 18px;
	color: #fff;
}

.breadcrumbs a {
	color: #fff;
}

.section__columns-item {
	padding-right: 100px;
}

.section__topbar {
	background: rgba(187, 107, 217, 0.1);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 25px;
}

.section__topbar-text {
	font-size: 1.4rem;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 4px 0;
}

.post {
	width: 302px;
}

.post__title a{
	color: #48115C;
	font-size: 1.8rem;
}

.post__description {
	font-size: 1.4rem;
}

.alphabet {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 10px;
}

.alphabet__type {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 81px;
	height: 26px;
}

.alphabet__type img {

}

.alphabet__name {
	font-weight: bold;
	font-size: 1.4rem;
	color: #48115C;
}

.alphabet__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width: calc(100% - 90px)
}

.alphabet__item {
	display: inline-block;
}

.alphabet__link,
.pagination__link {
	display: flex;
	height: 20px;
	width: 20px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 1.4rem;
	color: #fff;
}
.pagination__link {
	display: inline-flex;
	background: #48115C;
	border: 2px solid #48115C
}

.pagination__link_active,
.pagination__link:hover {
	background: #fff;
	color: #48115C;
}

.alphabet__link_female {
	background: #602143;
	border: 2px solid #602143
}
.alphabet__link_female:hover {
	background: #fff;
	color: #602143;
}
.alphabet__link_male {
	background: #48115C;
	border: 2px solid #48115C
}

.alphabet__link_male:hover {
	background: #fff;
	color: #48115C;
}

.name-list {
	display: grid;
	grid-template-columns: 1fr 1fr; 
}

.name-list__column {
	overflow: hidden;
	height: 345px;
}

.letter {
	font-size: 1.8rem
}

.name-list .list {
	margin: 0;
	list-style: none;
	padding: 0;
	column-count: 4;
}

.name-list .list li {
	margin-bottom: 10px;
}

.name-list .list li a {
	font-size: 1.4rem;
	color: #48115C;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	-ms-align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__logo {
	display: inline-block;
	width: 300px;
}

.footer__nav {
	position: relative;
	top: 45px;
	padding: 0;
	margin: 0;
	list-style: none;
	width: calc(100% - 300px);
	height: 17px;
}

.footer__nav li {
	display: inline-block;
	margin-left: 50px;
}

.footer__nav a {
	font-size: 1.4rem;
	color: #000;

}

.section__title {
	font-size: 18px;
	flex-wrap: 700;
	color: #48115C;
}

.section__content {
	display: grid;
	grid-template-areas: "title img" "text img";
	column-gap: 20px;
}

.section__content .section__title {
	grid-area: title
}

.section__content .section__text {
	grid-area: text;
	margin-bottom: 50px;
}

.section__content .section__img {
	grid-area: img
}

.date-filter {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	background: rgba(187, 107, 217, 0.1);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 15px 0;
}
.date-filter .button_primary {
	height: 26px;
	width: 75px;
	padding: 0;
	font-weight: bold;
}
.button_primary {
	
	font-size: 1.4rem;
	background: #fff;
	border: 2px solid #48115C;
	color: #48115C;
}

.button_primary:hover,
.date-filter_is_active {
	background: #48115C;
	color: #fff;
	border: 2px solid #48115C;
}

.tabs {
	padding-top: 25px;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.calendar {

}

.calendar-name-toggler {
	font-size: 14px;
	text-decoration-line: underline;
	color: #48115C;
	background: none;
	border: none;
	display: none;
}

.calendar-name-toggler_is_active {
	font-weight: bold;
}

.calendar__names {
	font-size: 14px;
	color: #48115C;
}

.calendar__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 0;
}

.calendar__header {font-size: 14px; font-weight: bold; color: #48115C; padding: 8px 0;}

.calendar__col_date {
	width: 118px; 
	font-size: 14px;
	text-decoration: underline;
	color: #000000;
	text-align: center
}
.calendar__col_female {width: calc(50% - 118px / 2)}
.calendar__col_male {width: calc(50% - 118px / 2)}

.calendar__col_date .calendar__header {text-align: center; text-decoration: none !important;}

.tabs__item {display: none;}
.tabs__item_is_active {display: block;}

.section__sub-title {
	font-size: 18px;
	color: #48115C;
}

.section__text p{
	font-size: 18px;
	color: #000000;
}

.page-scroll-nav {
	padding: 18px 30px;
	background: rgba(187, 107, 217, 0.1);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-scroll-nav p{
	font-size: 14px;
	color: #48115C;
	margin-top: 0;
}

.bold {
	font-weight: bold;
}

.form {}

.form_inline {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
}

.form__input {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.form__input label {
	font-weight: bold;
	font-size: 18px;
	color: #48115C;
}

.form__input input {
	width: 229px;
	margin-top: -5px;
}

.name-compatibility {
	padding: 25px 72px;
}

.name-compatibility button {
	background: #48115C;
	color: #fff;
	width: 254px;
	height: 27px;
	font-weight: bold;
}

.name-compatibility-description {
	display: none;
	padding:10px;
}

.name-compatibility-description_is_active {
	display: block;
}

.name-compatibility-description p {
	font-size: 14px;

color: #000000;
}

.name-compatibility button:hover {
	background: #fff;
	color: #48115C;
}

.section__name-compatibility-list {
	column-count: 4;
}

.section__name-compatibility-list a {
	font-size: 14px;
	margin-bottom: 10px;
	display: inline-block;
}

.name-list_big{
	display: block;
	column-count: 6;
}

.name-list_big a{
	font-size: 14px;
	display: block;
	margin-bottom: 10px;	
}

.pb-40 {
	padding-bottom: 40px;
}

@media all and (max-width: 1100px) {
	.name-compatibility button {
		margin-top: 20px;
		width: 100%;
	}
	.name-compatibility {
	    padding: 25px;
	}
	.section__name-compatibility-list {
		column-count: 3;
	}
	.name-list_big {
		column-count: 4;
	}
	.container {
		width: 768px;
	}
	.section__posts {
		grid-template-columns: 302px 302px;
		grid-gap: 60px
	}
	.alphabet__type {
		justify-content: flex-start;
		width: 100%;
	}
	.alphabet__list {
		width: 100%;
	}

	.section__topbar-text {
		
	}
	.footer__nav {
	    top: 5px;
	    width: 100%;
	}

	.footer__nav li:first-child {
		margin-left: 0;
	}
	.name-list {

	}
	.name-list .list {
		column-count: 2;
	}
	.alphabet__link {
		height: 20px;
		width: 20px;
	}

	.section__columns-item {
		padding-right: 50px;
	}
	.date-filter .button_primary {
		margin: 0 15px 12px 15px;
	}
}

.button_more-mobile {
	display: none;
}

.text-link {
	color: #000;
	text-decoration: none;
}

.text-link:hover {
	text-decoration: underline;
}

@media all and (max-width: 768px) {

	.section__name-compatibility-list {
		column-count: 2;
	}
	.section__name-compatibility-list a {
		display: block;
	}
	.name-list_big {
		column-count: 2;
	}
	.section__columns-item {
		padding-right: 20px;
	}
	.container {
		width: 540px;
		padding: 0 10px;
	}
	.header {
		margin-bottom: 40px;
		position: relative;
	}
	.header__form {
		position: absolute;
		margin-top: 0;
		top: 175px;
		width: 100%;
	}

	.form__field {
		width: calc(100% - 68px)
	}

	.section__posts {
		display: block;
	}

	.post {
		width: 100%;
	}

	.post img {
		width: 100%;
	}
	.alphabet__item {
		padding: 5px
	}
	.name-list {
		display: block;
	}

	.section__topbar {
		height: 33px;
	}

	.name-list__column {
		overflow: hidden;
		height: 345px;
		margin-bottom: 30px;
		position: relative;
	}
	
	.section__topbar-text {
		margin: 10px 0;
	}
	
	.button_more:not(.button_more-mobile) {
		display: none;
	}
	
	.button_more-mobile {
		display: block;
		position: absolute;
		z-index: 1;
	}
	.post {
		margin-bottom: 20px;
	}
	.button_more-mobile_1 {
		bottom:336px
	}
	.button_more-mobile_2 {
		bottom: -38px
	}
	.name-list {
		position: relative;
	}
	.alphabet__link {
		height: 25px;
		width: 25px;
	}
	.footer__nav {
		margin-top: 20px;
		position: static;
		height: auto;
	}
	.footer__nav li {
		display: block;
		margin-bottom: 10px;
		margin-left: 0;
	}
	.section__content {
		display: grid;
		grid-template-areas: "title" "img" "text";
		column-gap: 20px;
	}

	.section__content .section__img img {
		width: 100%;
	}

	.form__input,
	.form__input input {
		width: 100%;
	}

	.form__input {
		margin-bottom: 20px;
	}
}

@media all and (max-width: 540px) {
	.container {
		width: 100%;
	}


	.date-filter .button_primary {
		margin: 0 10px 12px 10px;
	}

	.section__columns-item {
		width: 100%;
	}
	.breadcrumbs {
		font-size: 16px;
	}

	.calendar-name-toggler {
		display: block;
	}

	.calendar-name-toggler_is_active {
		font-weight: bold;
	}

	.calendar__names {
		display: none;
	}

	.calendar__names_is_active {
		display: block;
		width: 100%;
	}

}